*{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    background-image: url("dersertdarkbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


h1{
    color: rgb(245, 201, 113);
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: rgb(245, 201, 113);
    font-family: Arial, Helvetica, sans-serif;
}
.links{
    color:inherit;
    color: rgb(245, 201, 113);
    text-decoration: none;
}
nav{
    font-size: 30px;
    position: absolute;
    width: 20%;
}
